<!DOCTYPE html>
<html> 
<head> <!--The head of the code will be the title of the webpage, when changed, the tab saying what the webpage is will also be changed!-->
    <title>PMO Comments</title>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="dark-styles.css">

</head>
<body> <!--The body for the code. It's housing the logo image, the button for toggling dark mode, and the buttons for the project number and pmo comments-->
    <div id="container">
        <img src="{{ url_for('static', filename='apslogo.png') }}" alt="APS Logo" style="width: 50px; height: 50px;">
        <br> <!--a line break to not have anything clustered together-->
        <div id="chat"> <!--maybe need to change the id to id="comment"? Or to something else-->
            <p>PMO Comments</p> <!--Showing the section where it'll be user input data-->
        </div>
        <!--This'll be the text boxes for the users to input their project number and pmo comment. You can add on if needed.-->
        <form id="user-input-form">
            <input type="text" id="project_number" name="project_number" placeholder="Project Number" required>
            <button type="button" onclick="checkAnswer()">Check</button>
            <br>
            <input type="text" id="user_answer" name="userAnswer" placeholder="PMO Comment" required>
            <button type="button" onclick="sendMessage()">Submit</button>
        </form>
    </div>   
</body>
<footer>
    <button class="dark-mode-button top-dark-mode-button" aria-label="Dark Mode">Dark Theme
    <span aria-hidden="true" class="dark-toggle">
        <span class="DTspan"></span>
    </span>
</button>
</footer>
</html>
